{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

      <!-- Translate Form -->
    <div class="container">
      <div class="row">
      <div class="col-sm-6">
      <div class="input-group-btn select" id="select1">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected">Translate From:</span> <span class="caret"></span></button>
        <ul class="dropdown-menu option" role="menu">
            <li id="1"><a href="#">One</a></li>
            <li id="2"><a href="#">Two</a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group-btn select" id="select1">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected">Translate To:</span> <span class="caret"></span></button>
        <ul class="dropdown-menu option" role="menu">
            <li id="1"><a href="#">One</a></li>
            <li id="2"><a href="#">Two</a></li>
        </ul>
      </div>
    </div>

          <!-- Start Lang-->
<!--           <form class="langs">
            <select  id= "start-lang" name="Translate from...">
              <option value="ar">Arabic</option>
              <option value="bs-Latn">Bosnian (Latin)</option>
              <option value="bg">Bulgarian</option>
              <option value="ca">Catalan</option>
              <option value="zh-CHS">Chinese (Simpoptionfied)</option>
              <option value="zh-CHT">Chinese (Traditional)</option>
              <option value="hr">Croatian</option>
              <option value="cs">Czech</option>
              <option value="da">Danish</option>
              <option value="nl">Dutch</option>
              <option value="en">English</option>
              <option value="et">Estonian</option>
              <option value="fi">Finnish</option>
              <option value="fr">French</option>
              <option value="de">German</option>
              <option value="el">Greek</option>
              <option value="ht">Hatian Creole</option>
              <option value="he">Hebrew</option>
              <option value="hi">Hindi</option>
              <option value="mww">Hmong Daw</option>
              <option value="hu">Hungarian</option>
              <option value="id">Indonesian</option>
              <option value="it">Itaoptionan</option>
              <option value="ja">Japanese</option>
              <option value="tlh">Koptionngon</option>
              <option value="ko">Korean</option>
              <option value="lv">Latvian</option>
              <option value="lt">optionthuanian</option>
              <option value="ms">Malay</option>
              <option value="mt">Maltese</option>
              <option value="no">Norwegian</option>
              <option value="fa">Persian</option>
              <option value="pl">Pooptionsh</option>
              <option value="pt">Portuguese</option>
              <option value="otq">Querétaro Otomi</option>
              <option value="ro">Romanian</option>
              <option value="ru">Russian</option>
              <option value="sr-Cyrl">Serbian (Cyriloptionc)</option>
              <option value="sr-Latn">Serbain (Latin)</option>
              <option value="sk">Slovak</option>
              <option value="sl">Slovenian</option>
              <option value="es">Spanish</option>
              <option value="sv">Swedish</option>
              <option value="th">Thai</option>
              <option value="tr">Turkish</option>
              <option value="uk">Ukrainian</option>
              <option value="ur">Urdu</option>
              <option value="vi">Vietnamese</option>
              <option value="cy">Welsh</option>
              <option value="yua">Yucatec Maya</option>
            </select>
          </form> -->

      <!-- End Lang-->
<!--           <form class="langs">
            <select id= "end-lang" name="Translate to...">
              <option value="ar">Arabic</option>
              <option value="bs-Latn">Bosnian (Latin)</option>
              <option value="bg">Bulgarian</option>
              <option value="ca">Catalan</option>
              <option value="zh-CHS">Chinese (Simpoptionfied)</option>
              <option value="zh-CHT">Chinese (Traditional)</option>
              <option value="hr">Croatian</option>
              <option value="cs">Czech</option>
              <option value="da">Danish</option>
              <option value="nl">Dutch</option>
              <option value="en">English</option>
              <option value="et">Estonian</option>
              <option value="fi">Finnish</option>
              <option value="fr">French</option>
              <option value="de">German</option>
              <option value="el">Greek</option>
              <option value="ht">Hatian Creole</option>
              <option value="he">Hebrew</option>
              <option value="hi">Hindi</option>
              <option value="mww">Hmong Daw</option>
              <option value="hu">Hungarian</option>
              <option value="id">Indonesian</option>
              <option value="it">Itaoptionan</option>
              <option value="ja">Japanese</option>
              <option value="tlh">Koptionngon</option>
              <option value="ko">Korean</option>
              <option value="lv">Latvian</option>
              <option value="lt">optionthuanian</option>
              <option value="ms">Malay</option>
              <option value="mt">Maltese</option>
              <option value="no">Norwegian</option>
              <option value="fa">Persian</option>
              <option value="pl">Pooptionsh</option>
              <option value="pt">Portuguese</option>
              <option value="otq">Querétaro Otomi</option>
              <option value="ro">Romanian</option>
              <option value="ru">Russian</option>
              <option value="sr-Cyrl">Serbian (Cyriloptionc)</option>
              <option value="sr-Latn">Serbain (Latin)</option>
              <option value="sk">Slovak</option>
              <option value="sl">Slovenian</option>
              <option value="es">Spanish</option>
              <option value="sv">Swedish</option>
              <option value="th">Thai</option>
              <option value="tr">Turkish</option>
              <option value="uk">Ukrainian</option>
              <option value="ur">Urdu</option>
              <option value="vi">Vietnamese</option>
              <option value="cy">Welsh</option>
              <option value="yua">Yucatec Maya</option>
            </select>
          </form> -->
      </div>
        <br>
        <br>

          <form>
            <div class="row inputLangContainer">
              <div class="col-sm-6">
                <div class="form-group">
                  <textarea type="text" class="form-control" placeholder="Enter text to translate..." rows="10"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <textarea type="text" class="form-control" placeholder="Translation will appear here..." rows="10"></textarea>
                </div>
              </div>
            </div>
            <br>
            <div class="row buttonRow">
              <button type="submit" class="btn btn-success" id="translateBtn">Translate</button>
            </div>
          </form>
      <!-- end translate form div -->
      </div>
    <!-- end translate form row -->
    </div>

    <!-- spacing and line -->
     <br><hr><br>

    <!-- translation result -->
    <h2>Translation</h2>
    <div id="result">
    </div>
  </div>
{% endblock %}
