{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<!-- HOME PAGE -->

<div id="home-page">
 <!-- Header -->
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Bananas & Butterflies</h1>
            <h3>A simple translation service</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="#services" class="btn btn-default btn-lg" id="find-out-more"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Find out what we do</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-- end container div -->
    </div>
  <!-- end header div -->
  </div>

  <a name="services"></a>
  <div class="content-section">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">What can you do? You can...</h2>
        </div>
      </div>
      <!-- practice blurb -->
      <div class="row">
        <div class="col-sm-6 col-md-4 center">
          <div class="thumbnail">
            <img class="img-responsive" src="/img/studying.jpg" alt="Books">
            <div class="caption">
              <h3>Practice Languages</h3>
              <p>On this page, you can use our services to translate words from one langugae to another. Check out this section if you are interested in learning new words in a different language!</p>
              <p><a class="btn btn-primary practice-nav" role="button">Start Practicing!</a></p>
            </div>
          </div>
        </div>
        <!-- challenge blurb-->
        <div class="col-sm-6 col-md-4 center">
          <div class="thumbnail">
            <img class="img-responsive" src="/img/words.jpg" alt="Scrabble pieces">
            <div class="caption">
              <h3>Challenge Yourself</h3>
              <p>In this section, you can quiz yourself in various langauges by testing your memory. Pick a start language, a langugae you are interested in learning, and a catergory. Happy quizzing!</p>
              <p><a class="btn btn-success challenge-nav" role="button">Start a Challenge!</a></p>
            </div>
          </div>
        </div>
        <!-- progress blurb -->
        <div class="col-sm-6 col-md-4 center">
          <div class="thumbnail">
            <img class="img-responsive" src="/img/progress.jpg" alt="Graph">
            <div class="caption">
              <h3>Track Your Progress</h3>
              <p>Our progress feature allows you to track how you have been doing in your challenge exercises. It continutally updates over time, so you get a clear picture of how far you have progressed.</p>
              <p><a class="btn btn-warning progress-nav" role="button">See Your Progress!</a></p>
            </div>
          </div>
        </div>
      </div>

    <!-- end container div -->
    </div>
  <!-- end services content section -->
  </div>

  <a name="contact"></a>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <h2>Find us on:</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="https://github.com/SarahNoel/hola-mundo-translator" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/lucyvictoria" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">LinkedIn</span></a>
              </li>
              <li>
                <a href="https://twitter.com/zoeadelman" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-- end container div -->
    </div>
  <!-- end banner -->
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/about">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#services">Services</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; Bananas & Butterflies. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- END HOME PAGE -->


<!-- TRANSLATE PAGE -->
<div id="practice-page" class = 'start-invis'>
  <h2 class='title'>Translating!</h2>
<!-- Translate from Dropdown -->
<div class="row langSelect dropgap">
  <div class="col-sm-6">
    <div class="input-group-btn select" id="select1">
      <button type="button" class="btn btn1 btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected item1">Translate From:</span> <span class="caret"></span></button>
      <ul class="dropdown-menu option1" role="menu">
        <li id="ar"><a href="#">Arabic</a></li>
        <li id="bs-Latn"><a href="#">Bosnian (Latin)</a></li>
        <li id="bg"><a href="#">Bulgarian</a></li>
        <li id="ca"><a href="#">Catalan</a></li>
        <li id="zh-CHS"><a href="#">Chinese (Simplified)</a></li>
        <li id="zh-CHT"><a href="#">Chinese (Traditional)</a></li>
        <li id="hr"><a href="#">Croatian</a></li>
        <li id="cs"><a href="#">Czech</a></li>
        <li id="da"><a href="#">Danish</a></li>
        <li id="nl"><a href="#">Dutch</a></li>
        <li id="en"><a href="#">English</a></li>
        <li id="et"><a href="#">Estonian</a></li>
        <li id="fi"><a href="#">Finnish</a></li>
        <li id="fr"><a href="#">French</a></li>
        <li id="de"><a href="#">German</a></li>
        <li id="el"><a href="#">Greek</a></li>
        <li id="ht"><a href="#">Hatian Creole</a></li>
        <li id="he"><a href="#">Hebrew</a></li>
        <li id="hi"><a href="#">Hindi</a></li>
        <li id="mww"><a href="#">Hmong Daw</a></li>
        <li id="hu"><a href="#">Hungarian</a></li>
        <li id="id"><a href="#">Indonesian</a></li>
        <li id="it"><a href="#">Italian</a></li>
        <li id="ja"><a href="#">Japanese</a></li>
        <li id="tlh"><a href="#">Klingon</a></li>
        <li id="ko"><a href="#">Korean</a></li>
        <li id="lv"><a href="#">Latvian</a></li>
        <li id="lt"><a href="#">Lithuanian</a></li>
        <li id="ms"><a href="#">Malay</a></li>
        <li id="mt"><a href="#">Maltese</a></li>
        <li id="no"><a href="#">Norwegian</a></li>
        <li id="fa"><a href="#">Persian</a></li>
        <li id="pl"><a href="#">Polish</a></li>
        <li id="pt"><a href="#">Portuguese</a></li>
        <li id="otq"><a href="#">Querétaro Otomi</a></li>
        <li id="ro"><a href="#">Romanian</a></li>
        <li id="ru"><a href="#">Russian</a></li>
        <li id="sr-Cyrl"><a href="#">Serbian (Cyrillic)</a></li>
        <li id="sr-Latn"><a href="#">Serbain (Latin)</a></li>
        <li id="sk"><a href="#">Slovak</a></li>
        <li id="sl"><a href="#">Slovenian</a></li>
        <li id="es"><a href="#">Spanish</a></li>
        <li id="sv"><a href="#">Swedish</a></li>
        <li id="th"><a href="#">Thai</a></li>
        <li id="tr"><a href="#">Turkish</a></li>
        <li id="uk"><a href="#">Ukrainian</a></li>
        <li id="ur"><a href="#">Urdu</a></li>
        <li id="vi"><a href="#">Vietnamese</a></li>
        <li id="cy"><a href="#">Welsh</a></li>
        <li id="yua"><a href="#">Yucatec Maya</a></li>
      </ul>
    </div>
  </div>

<!-- Translate to dropdown -->
<div class="col-sm-6">
<div class="input-group-btn select inputText" id="select1">
  <button type="button" class="btn btn2 btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected item2">Translate To:</span> <span class="caret"></span></button>
  <ul class="dropdown-menu option2" role="menu">
        <li id="ar"><a href="#">Arabic</a></li>
        <li id="bs-Latn"><a href="#">Bosnian (Latin)</a></li>
        <li id="bg"><a href="#">Bulgarian</a></li>
        <li id="ca"><a href="#">Catalan</a></li>
        <li id="zh-CHS"><a href="#">Chinese (Simplified)</a></li>
        <li id="zh-CHT"><a href="#">Chinese (Traditional)</a></li>
        <li id="hr"><a href="#">Croatian</a></li>
        <li id="cs"><a href="#">Czech</a></li>
        <li id="da"><a href="#">Danish</a></li>
        <li id="nl"><a href="#">Dutch</a></li>
        <li id="en"><a href="#">English</a></li>
        <li id="et"><a href="#">Estonian</a></li>
        <li id="fi"><a href="#">Finnish</a></li>
        <li id="fr"><a href="#">French</a></li>
        <li id="de"><a href="#">German</a></li>
        <li id="el"><a href="#">Greek</a></li>
        <li id="ht"><a href="#">Hatian Creole</a></li>
        <li id="he"><a href="#">Hebrew</a></li>
        <li id="hi"><a href="#">Hindi</a></li>
        <li id="mww"><a href="#">Hmong Daw</a></li>
        <li id="hu"><a href="#">Hungarian</a></li>
        <li id="id"><a href="#">Indonesian</a></li>
        <li id="it"><a href="#">Italian</a></li>
        <li id="ja"><a href="#">Japanese</a></li>
        <li id="tlh"><a href="#">Klingon</a></li>
        <li id="ko"><a href="#">Korean</a></li>
        <li id="lv"><a href="#">Latvian</a></li>
        <li id="lt"><a href="#">Lithuanian</a></li>
        <li id="ms"><a href="#">Malay</a></li>
        <li id="mt"><a href="#">Maltese</a></li>
        <li id="no"><a href="#">Norwegian</a></li>
        <li id="fa"><a href="#">Persian</a></li>
        <li id="pl"><a href="#">Polish</a></li>
        <li id="pt"><a href="#">Portuguese</a></li>
        <li id="otq"><a href="#">Querétaro Otomi</a></li>
        <li id="ro"><a href="#">Romanian</a></li>
        <li id="ru"><a href="#">Russian</a></li>
        <li id="sr-Cyrl"><a href="#">Serbian (Cyrillic)</a></li>
        <li id="sr-Latn"><a href="#">Serbain (Latin)</a></li>
        <li id="sk"><a href="#">Slovak</a></li>
        <li id="sl"><a href="#">Slovenian</a></li>
        <li id="es"><a href="#">Spanish</a></li>
        <li id="sv"><a href="#">Swedish</a></li>
        <li id="th"><a href="#">Thai</a></li>
        <li id="tr"><a href="#">Turkish</a></li>
        <li id="uk"><a href="#">Ukrainian</a></li>
        <li id="ur"><a href="#">Urdu</a></li>
        <li id="vi"><a href="#">Vietnamese</a></li>
        <li id="cy"><a href="#">Welsh</a></li>
        <li id="yua"><a href="#">Yucatec Maya</a></li>
  </ul>
</div>
</div>

</div>
  <br>
  <br>

    <form>
      <div class="row inputLangContainer">
        <div class="col-sm-6">
          <div class="form-group">
            <textarea id="to-translate" type="text" class="form-control" placeholder="Enter text to translate..." rows="10"></textarea>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <textarea id="result" type="text" class="form-control" placeholder="Translation will appear here..." rows="10"></textarea>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row buttonRow">
        <button type="submit" class="btn btn-primary" id="translateBtn">Translate</button>
      </div>
    </form>
<!-- end translate form div -->
</div><!-- END TRANSLATE PAGE -->



<!-- CHALLENGES PAGE -->
<div id="challenges-page" class = 'start-invis'>
   <!-- Translate from dropdown -->
  <h2 class='title'>Challenges!</h2>
      <div class="row langSelect">
        <div class="col-sm-4">
          <div class="input-group-btn select" id="select1">
            <button type="button" class="btn btn1 btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected item1">Translate From:</span> <span class="caret"></span></button>
            <ul class="dropdown-menu option1" role="menu">
              <li id="ar"><a href="#">Arabic</a></li>
              <li id="bs-Latn"><a href="#">Bosnian (Latin)</a></li>
              <li id="bg"><a href="#">Bulgarian</a></li>
              <li id="ca"><a href="#">Catalan</a></li>
              <li id="zh-CHS"><a href="#">Chinese (Simplified)</a></li>
              <li id="zh-CHT"><a href="#">Chinese (Traditional)</a></li>
              <li id="hr"><a href="#">Croatian</a></li>
              <li id="cs"><a href="#">Czech</a></li>
              <li id="da"><a href="#">Danish</a></li>
              <li id="nl"><a href="#">Dutch</a></li>
              <li id="en"><a href="#">English</a></li>
              <li id="et"><a href="#">Estonian</a></li>
              <li id="fi"><a href="#">Finnish</a></li>
              <li id="fr"><a href="#">French</a></li>
              <li id="de"><a href="#">German</a></li>
              <li id="el"><a href="#">Greek</a></li>
              <li id="ht"><a href="#">Hatian Creole</a></li>
              <li id="he"><a href="#">Hebrew</a></li>
              <li id="hi"><a href="#">Hindi</a></li>
              <li id="mww"><a href="#">Hmong Daw</a></li>
              <li id="hu"><a href="#">Hungarian</a></li>
              <li id="id"><a href="#">Indonesian</a></li>
              <li id="it"><a href="#">Italian</a></li>
              <li id="ja"><a href="#">Japanese</a></li>
              <li id="tlh"><a href="#">Klingon</a></li>
              <li id="ko"><a href="#">Korean</a></li>
              <li id="lv"><a href="#">Latvian</a></li>
              <li id="lt"><a href="#">Lithuanian</a></li>
              <li id="ms"><a href="#">Malay</a></li>
              <li id="mt"><a href="#">Maltese</a></li>
              <li id="no"><a href="#">Norwegian</a></li>
              <li id="fa"><a href="#">Persian</a></li>
              <li id="pl"><a href="#">Polish</a></li>
              <li id="pt"><a href="#">Portuguese</a></li>
              <li id="otq"><a href="#">Querétaro Otomi</a></li>
              <li id="ro"><a href="#">Romanian</a></li>
              <li id="ru"><a href="#">Russian</a></li>
              <li id="sr-Cyrl"><a href="#">Serbian (Cyrillic)</a></li>
              <li id="sr-Latn"><a href="#">Serbain (Latin)</a></li>
              <li id="sk"><a href="#">Slovak</a></li>
              <li id="sl"><a href="#">Slovenian</a></li>
              <li id="es"><a href="#">Spanish</a></li>
              <li id="sv"><a href="#">Swedish</a></li>
              <li id="th"><a href="#">Thai</a></li>
              <li id="tr"><a href="#">Turkish</a></li>
              <li id="uk"><a href="#">Ukrainian</a></li>
              <li id="ur"><a href="#">Urdu</a></li>
              <li id="vi"><a href="#">Vietnamese</a></li>
              <li id="cy"><a href="#">Welsh</a></li>
              <li id="yua"><a href="#">Yucatec Maya</a></li>
            </ul>
          </div>
        </div>

   <!-- Translate to dropdown -->
    <div class="col-sm-4">
      <div class="input-group-btn select inputText" id="select1">
        <button type="button" class="btn btn2 btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected item2">Translate To:</span> <span class="caret"></span></button>
        <ul class="dropdown-menu option2" role="menu">
          <li id="ar"><a href="#">Arabic</a></li>
          <li id="bs-Latn"><a href="#">Bosnian (Latin)</a></li>
          <li id="bg"><a href="#">Bulgarian</a></li>
          <li id="ca"><a href="#">Catalan</a></li>
          <li id="zh-CHS"><a href="#">Chinese (Simplified)</a></li>
          <li id="zh-CHT"><a href="#">Chinese (Traditional)</a></li>
          <li id="hr"><a href="#">Croatian</a></li>
          <li id="cs"><a href="#">Czech</a></li>
          <li id="da"><a href="#">Danish</a></li>
          <li id="nl"><a href="#">Dutch</a></li>
          <li id="en"><a href="#">English</a></li>
          <li id="et"><a href="#">Estonian</a></li>
          <li id="fi"><a href="#">Finnish</a></li>
          <li id="fr"><a href="#">French</a></li>
          <li id="de"><a href="#">German</a></li>
          <li id="el"><a href="#">Greek</a></li>
          <li id="ht"><a href="#">Hatian Creole</a></li>
          <li id="he"><a href="#">Hebrew</a></li>
          <li id="hi"><a href="#">Hindi</a></li>
          <li id="mww"><a href="#">Hmong Daw</a></li>
          <li id="hu"><a href="#">Hungarian</a></li>
          <li id="id"><a href="#">Indonesian</a></li>
          <li id="it"><a href="#">Italian</a></li>
          <li id="ja"><a href="#">Japanese</a></li>
          <li id="tlh"><a href="#">Klingon</a></li>
          <li id="ko"><a href="#">Korean</a></li>
          <li id="lv"><a href="#">Latvian</a></li>
          <li id="lt"><a href="#">Lithuanian</a></li>
          <li id="ms"><a href="#">Malay</a></li>
          <li id="mt"><a href="#">Maltese</a></li>
          <li id="no"><a href="#">Norwegian</a></li>
          <li id="fa"><a href="#">Persian</a></li>
          <li id="pl"><a href="#">Polish</a></li>
          <li id="pt"><a href="#">Portuguese</a></li>
          <li id="otq"><a href="#">Querétaro Otomi</a></li>
          <li id="ro"><a href="#">Romanian</a></li>
          <li id="ru"><a href="#">Russian</a></li>
          <li id="sr-Cyrl"><a href="#">Serbian (Cyrillic)</a></li>
          <li id="sr-Latn"><a href="#">Serbain (Latin)</a></li>
          <li id="sk"><a href="#">Slovak</a></li>
          <li id="sl"><a href="#">Slovenian</a></li>
          <li id="es"><a href="#">Spanish</a></li>
          <li id="sv"><a href="#">Swedish</a></li>
          <li id="th"><a href="#">Thai</a></li>
          <li id="tr"><a href="#">Turkish</a></li>
          <li id="uk"><a href="#">Ukrainian</a></li>
          <li id="ur"><a href="#">Urdu</a></li>
          <li id="vi"><a href="#">Vietnamese</a></li>
          <li id="cy"><a href="#">Welsh</a></li>
          <li id="yua"><a href="#">Yucatec Maya</a></li>
        </ul>
      </div>
    </div>


   <!-- Quiz subject dropdown -->
    <div class="col-sm-4">
      <div class="input-group-btn select inputText" id="select3">
        <button type="button" class="btn btn3 btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="selected item3">Choose a Quiz Subject:</span><span class="caret"></span></button>
        <ul class="dropdown-menu option3" role="menu">
          <li id="animal"><a href="#">Animal</a></li>
          <li id="body"><a href="#">Body</a></li>
          <li id="common"><a href="#">Common Words</a></li>
          <li id="travel"><a href="#">Travel</a></li>
          <li id="number"><a href="#">Numbers</a></li>
        </ul>

      </div>
    </div>
  </div>
  <!-- END DROP DOWN MENUS -->

  <br>
  <button id="challenge-start">Start!</button>
  <br>

<!-- hide initially -->
  <div class= "invis">

<!-- quiz status -->
  <div class="row quizRow">
    <div class="quizStatus col-sm-offset-3 col-sm-6">
      <p id="question-number">Question 1/20</p>
    </div>
  </div>
<!-- end quiz status -->

<!-- quiz input boxes and buttons -->
  <div class="row inputLangContainer">
    <form>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="textBoxTitle">Text To Translate</label>
          <div class="container quizQuestion">
        <!-- place quiz word here -->
            <h3 id="challenge-to-translate"></h3>
        <!-- end -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="textBoxTitle">Your Translation</label>
          <textarea id = "challenge-user-word" type="text" class="form-control"rows="7"></textarea>
        </div>
      </div>
      <div class="row buttonRow hide-submit">
        <button type="submit" class="btn btn-primary" id="user-submit">Submit Answer</button>
      </div>
    </form>
  </div>
<!-- end quiz input boxes and buttons -->

  <div id ="check-answer" class='fixed-answer-size'> </div>

  <button id = "next-question" class = 'appear-later'>Next Question!</button>

  <br><br>
  <div class="progress">
    <div id="prog-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
  </div>
</div>
</div> <!--end invis-->
</div> <!-- END CHALLENGE PAGE -->


<!-- QUIZ RESULTS PAGE -->

<div id="quiz-results-page" class="start-invis">
  <h2>Quiz Results</h2>
    <div>
      <ul class='list-unstyled'>
        <li><h3>Questions Correct</h3></li></ul>
      <ul class='list-unstyled'>Questions Correct
        <li id= 'quiz-words-correct'></li></ul>
      <ul class='list-unstyled'>Questions Incorrect
        <li id= 'quiz-words-incorrect'></li></ul>
   </div>
</div>


<!-- PROGRESS PAGE -->
<div id="progress-page" class = 'start-invis'>
  <h2>Your Progress!</h2>
    <div>
     <ul class='list-unstyled' id='prog-bar-ul'><h3>My Progress</h3></ul>
     <ul class='list-unstyled'>Total Words Translated
       <li id= 'words-translated'></li></ul>
     <ul class='list-unstyled'>Words Translated Correctly
       <li id= 'words-correct'></li></ul>
     <ul class='list-unstyled'>Words Translated Incorrectly
       <li id= 'words-incorrect'></li></ul>
     <ul class='list-unstyled'>Challenges Taken
       <li id= 'challenges-taken'></li></ul>
     <ul class='list-unstyled'>Challenges Passed
       <li id= 'challenges-passsed'></li></ul>
     <ul class='list-unstyled'>Challenges Failed
       <li id= 'challenges-failed'></li></ul>
   </div>
</div>
  <!-- END PROGRESS PAGE -->

  </div>
{% endblock %}
