<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ title }}</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>


  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class = "home-nav"><a>Home</a></li>
          <li class="practice-nav"><a>Practice</a>
          </li>
          <li class="challenge-nav"><a>Challenge</a>
          </li>
            <li class="progress-nav">
            <a>Progress Stats</a>
            </li>
             <li class="user-nav">
            <a>User Login</a>
            </li>
        </ul>
        </div>
      </div>
    </nav>

<!--   PROGRESS BAR -->
    <div id="wrapper" class="span1 prog-bar start-invis">
        <div id="bar" class="col-xs-offset-10 col-xs-1" id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div id="totalWords">
                    <li>
                        <a class="titles" href="#">Total Words</a>
                    </li>
                    <li>
                        <div class="donuts" id="donut-1" style="height: 210px;"></div>
                    </li>
                </div>
                <div id="totalChallenges">
                   <li>
                        <a class="titles" href="#">Total Challenges</a>
                    </li>
                    <li>
                        <div class="donuts" id="donut-2" style="height: 210px;"></div>
                    </li>
                </div>

            </ul>
        </div>
    </div>
<!-- END PROGRESS BAR -->

    {% block content %}

    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src= '//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

  </body>
</html>
