<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Translation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id = 'practice-nav'><a href="/">Practice</a></li>
            <li id = 'challenge-nav'><a href="/challenges">Challenges</a></li>
          </ul>
          <ul id="progressNav" class="nav navbar-nav navbar-right">
              <li id="progress-stats">
                <a href="#">Progress Stats</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

<!--   PROGRESS BAR -->
    <div id="wrapper" class="span1 prog-bar">
        <div id="bar" class="col-xs-offset-10 col-xs-1" id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div id="totalWords">
                    <li>
                        <a class="titles" href="#">Total Words</a>
                    </li>
                    <li>
                        <div class="donuts" id="donut-1" style="height: 210px;"></div>
                    </li>
                </div>
                <div id="totalChallenges">
                   <li>
                        <a class="titles" href="#">Total Challenges</a>
                    </li>
                    <li>
                        <div class="donuts" id="donut-2" style="height: 210px;"></div>
                    </li>
                </div>

            </ul>
        </div>
    </div>
<!-- END PROGRESS BAR -->
    {% block content %}


    {% endblock %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2015.2.902/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2015.2.902/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

  </body>
</html>
