{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <div>
     <ul class='list-unstyled' id='prog-bar-ul'><h3>My Progress</h3></ul>
     <ul class='list-unstyled'>Total Words Translated</ul>
       <li id= 'words-translated'></li>
     <ul class='list-unstyled'>Words Translated Correctly</ul>
       <li id= 'words-correct'></li>
     <ul class='list-unstyled'>Words Translated Incorrectly</ul>
       <li id= 'words-incorrect'></li>
     <ul class='list-unstyled'>Challenges Taken</ul>
       <li id= 'challenges-taken'></li>
     <ul class='list-unstyled'>Challenges Passed</ul>
       <li id= 'challenges-passsed'></li>
     <ul class='list-unstyled'>Challenges Failed</ul>
       <li id= 'challenges-failed'></li>
   </div>

  </div>

{% endblock %}
