<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.902/styles/kendo.material.min.css" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <script src="https://kendo.cdn.telerik.com/2015.2.902/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2015.2.902/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="/js/progress.js"></script>
    <link rel="stylesheet" href="/css/progress.css">
</head>
<body>
<div id="wrapper">
<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        P R O G R E S S
                    </a>
                </li>
                <div id="totalWords">
                    <li>
                        <a class="titles" href="#">Total Words</a>
                    </li>
                    <li>
                        <div class="donuts" id="donut-1" style="height: 230px;"></div>
                    </li>
                </div>
                <div id="totalChallenges">
                   <li>
                        <a class="titles" href="#">Total Challenges</a>
                    </li>
                    <li>
                        <div class="donuts" id="donut-2" style="height: 230px;"></div>
                    </li>
                </div>

            </ul>
        </div>
</div>




<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
</body>
</html>
