body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li{
  list-style-type: none;
  font-size: 20px;
}

.invis{
  display: none;
}

.appear-later{
  display: none;
}

.prog-bar{
  position:fixed;
  background-color: #f8f8f8;
  right:0;
  height:100%;
  padding: 10px;
  text-align: center;
}

.green{
  color:green;
}

.red{
  color: red;
}

.center{
  margin: auto;
  text-align: center;
}
